// Text Colors
// -------------------------

.text-white { color: $text-white; }

.text-white-60 { color: $text-light-60; }

.text-black { color: $text-black; }

.text-dark-10 { color: $text-dark-10; }

.text-dark-20 { color: $text-dark-20; }

.text-dark-30 { color: $text-dark-30; }

.text-dark-40 { color: $text-dark-40; }

.text-dark-50 { color: $text-dark-50; }

.text-dark-65 { color: $text-dark-65; }

.text-dark-70 { color: $text-dark-70; }

.text-dark-75 { color: $text-dark-75; }

.text-dark-80 { color: $text-dark-80; }

.text-dark-85 { color: $text-dark-85; }

.text-dark-90 { color: $text-dark-90; }

// Fill Colors
// --------------------------

.fill-bg { background-color: $fill-bg; }

.fill-white { background-color: $fill-white; }

.fill-black { background-color: $fill-black; }

.fill-dark-10 { background-color: $fill-dark-10; }

.fill-dark-15 { background-color: $fill-dark-15; }

.fill-dark-20 { background-color: $fill-dark-20; }

.fill-dark-30 { background-color: $fill-dark-30; }

.fill-dark-40 { background-color: $fill-dark-40; }

.fill-dark-50 { background-color: $fill-dark-50; }

.fill-dark-60 { background-color: $fill-dark-60; }

.fill-dark-70 { background-color: $fill-dark-70; }

.fill-dark-75 { background-color: $fill-dark-75; }

.fill-dark-80 { background-color: $fill-dark-80; }

.fill-dark-85 { background-color: $fill-dark-85; }

.fill-dark-90 { background-color: $fill-dark-90; }

// Gig Life Asia
.fill-purple { background-color: $fill-purple; }

.fill-dark-purple { background-color: $fill-dark-purple; }

.text-purple { color: $text-purple;  }

.fill-light-purple { background-color: $fill-light-purple; }

.text-light-purple { color: $text-light-purple; }

.text-lighter-again-purple { color: $text-lighter-again-purple; }

.text-lighter-purple { color: $text-lighter-purple; }

.fill-pink { background: $fill-pink; }
